.profile-info {
    display: flex;
    justify-content: space-evenly;
}
.profile-info h1 {
    margin: 5px;
}
.profile-info p {
    margin: 5px;
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.profile img {
    border-radius: 50px;
    margin-right: 15px;
}
.profile h4 {
    margin: 0%;
}
.profile p {
    margin: 0%;
}
.break button {
    width: 50px;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    padding: 7px; 
}
.break button:hover{
    color: red;
    background-color: white;
    border: 2px solid red;
}
.submit-btn {
    text-align: center;
    width: 250px;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    padding: 15px; 
}
.submit-btn:hover{
    color: red;
    background-color: white;
    border: 2px solid red;
}
.btn-tab {
    display: flex;
    justify-content: space-evenly;
}
