.card {
    width: 350px;
    height: 500px;
    border-radius: 8px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.card img {
    width: 350px;
    height: 200px;
    border-radius: 15px;
}
.card-info{
    margin: 0px 14px;
    margin-top: 5px;

}
.card-name {
    font-family: 'Lato';
    font-size: 21px;
    line-height: 25px;
    margin-top: 7px;
}
.btn-cart{
    width: 350px;
    background-color: red;
    color: white;
    border: none;
    padding: 3px;
    position: relative;
    bottom: 5px;
    border-radius: 8px;
    


}
.btn-cart:hover{
    color: red;
    background-color: white;
    border: 2px solid red;
}
@media screen and (max-width:1100px) {
    .card{
        width: 250px;
        margin-left: 25px;
    }
    .card  img {
        width: 216px;
        height: 216px;
    }
    .btn-cart{
        position: relative;
        width: 250px;
    }
}
@media screen and (max-width:480px) {
    .card {
        width: 100%;
        margin-left: 10px;
    }
    .card  img {
        width: 216px;
        height: 216px;
    }
    .btn-cart {
        width:220px;
    }
    
}