.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    
}
.header p {
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    font-size: 30px;
    padding-left: 10px;
}
.brand {
    display: flex;
    align-items: center;
}
.header a {
    text-decoration: none;
    color: black;
    padding-left: 10px;
}
.header a:hover {
    color: red;
}
.navbar {
    display: flex;
    flex-direction: column;
}
#heading {
    text-align: left;
    margin-left: 5%;
}

@media screen and (max-width:480px) {
    .header {
        flex-direction: column;
        justify-content: center;
        padding: 5px;
    }
    #heading {
        text-align: center;
        margin-left: 0%;
    }
}