.footer {
    width: 100%;
    background-color: black;
    color: lightgray;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
}
.footer h6 {
    margin: 5px;
}
.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.brand p {
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    font-size: 30px;
    padding-left: 10px;
}
